<%= render "shared/errors", obj: @article %>

<%= form_with model: @article do |f| %>
  <div class="form-floating">
    <%= f.text_field :title, class: "form-control", id: "floatingInput", placeholder: "Title of article", autofocus: true  %>
    <%= f.label :title %>
  </div> <br>
  <div class="form-floating">
    <%= f.text_area :description, class: "form-control", id: "floatingTextarea2", placeholder: "Body of article", style: "height: 240px" %>
    <%= f.label :description %>
  </div> <br>

  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <div class="form-check form-check-inline">
      <%= cb.label(class: "form-check-label") { cb.check_box(class: "form-check-input") +  cb.text } %>
    </div>
  <% end %>
  <br><br>

  <%= f.submit class: "btn btn-primary btn-lg" %>

<% end %>
<div class="center">
<%= link_to "Back to articles listing", articles_path %>
</div>